<nav 
  class="sidebar __web-inspector-hide-shortcut__" 
  role="navigation"
  aria-label="Main navigation">
  <ul class="sidebar-nav">
    <li class=" ">
      <a routerLink="/sobre" (click)="onClose()">
        <i class="material-icons material-icons-sidenav-style">dashboard</i>
        <span>About</span>
      </a>
    </li>
    <li class=" ">
      <a routerLink="/sobre" (click)="onClose()">
        <i class="material-icons material-icons-sidenav-style">account_circle</i>
        <span>Dados da conta</span>
      </a>
    </li>
    <li class=" ">
      <a routerLink="/sobre" (click)="onClose()">
        <i class="material-icons material-icons-sidenav-style">group_add</i>
        <span>Perfil</span>
      </a>
    </li>
  </ul>
</nav>
