.rainbow2 {
  background-image: -webkit-linear-gradient(left, #E0F8F7, #585858, #fff); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(left, #E0F8F7, #585858, #fff); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(left, #E0F8F7, #585858, #fff); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(left, #E0F8F7, #585858, #fff); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to right, #E0F8F7, #585858, #fff); /* Standard syntax; must be last */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.rainbow {

background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
color:transparent;
-webkit-background-clip: text;
background-clip: text;
}

.title-gradient {
  font-size: 48px;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #002F7B), color-stop(0.15, #E5231E));
  background-image: gradient( linear, left top, right top, color-stop(0, #002F7B), color-stop(0.15, #E5231E));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}




li {
  margin-bottom: 5px;
}

