<div class="container">
  <div class="row">
    <div class="col-sm-7 order-last-mobile">
      <iframe class="iframe-style" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.6434458815593!2d-34.90876624977264!3d-8.137732894113388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1e2d54d25ecb%3A0xe1d0552860945933!2sR.+S%C3%A1+e+Souza%2C+655+-+Boa+Viagem%2C+Recife+-+PE%2C+51030-065!5e0!3m2!1spt-BR!2sbr!4v1543540002307" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>
    </div>
    <div class="col-sm-5 padding-col-custom margin-bottom-mobile">
      
      <div class="wrap-title-button">
        <h2>
          <span class="gradient gradient-bar">onde<br />estamos</span>
        </h2>
        <div>
          <a 
            href="https://www.google.com.br/maps/dir/-8.0535437,-34.9041809/R.+S%C3%A1+e+Souza,+655+-+Boa+Viagem,+Recife+-+PE,+51030-065/@-8.0952576,-34.9513344,13z/data=!3m1!4b1!4m18!1m7!3m6!1s0x7ab1e2d54d25ecb:0xe1d0552860945933!2sR.+S%C3%A1+e+Souza,+655+-+Boa+Viagem,+Recife+-+PE,+51030-065!3b1!8m2!3d-8.1377329!4d-34.9065722!4m9!1m1!4e1!1m5!1m1!1s0x7ab1e2d54d25ecb:0xe1d0552860945933!2m2!1d-34.9065722!2d-8.1377329!3e0?hl=pt-BR&authuser=0" 
            target="_blank"
            color="primary"
            mat-raised-button 
            class="button-default">veja como chegar</a>
        </div>
      </div>

      <div class="wrap-email-phone-app">
        <h3 class=" ">
          <a 
            mat-button
            class="default-color font-title-light" 
            href="mailto: elc@elcidiomas.com.br">elc@elcidiomas.com.br</a><br />
          <a 
            mat-button
            class="default-color font-title-light" 
            href="mailto: elc@elcidiomas.com.br">+55 81 33410888</a><br />
          <a 
            mat-button
            class="default-color font-title-light" 
            href="mailto: elc@elcidiomas.com.br"
            matTooltip="whats app">
            +55 81 33410888
            <mat-icon>contact_support</mat-icon>
          </a>
        </h3>
      </div>

      <div>
        <address>
          Rua Sá Souza, 655 Boa Viagem | Recife / PE <br />CEP: 51.030-065
        </address>
      </div>

    </div>
  </div>
</div>