<mat-sidenav-container>
  <mat-sidenav 
    [class.overflowHidden]="true"
    #sidenav 
    role="navigation" 
    [opened]="sideNavOpen"
    [mode]="sideNavMode">
    <a 
      mat-stroked-button
      routerLink="/"
      class="hidden-custom"></a>

    <a 
      mat-stroked-button
      routerLink="/"
      class="side-nav-header mat-toolbar cursor-pointer"
      fxLayout="column" 
      fxLayoutAlign="center center"
      style="overflow: hidden;"
      (click)="sidenav.close()">
      <mat-icon 
        svgIcon="logo" 
        class="logo-custom-size logo-custom-position"></mat-icon>
    </a>
    
     <app-sidenav-list       
      (closeSidenav)="sidenav.close()"></app-sidenav-list> 
  </mat-sidenav>
  <mat-sidenav-content>

    <app-header 
      [isMobile]="isMobile"
      (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <div class="loading-route-container" *ngIf="isLoadingRoute">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <router-outlet></router-outlet>
    </main>
    
     <app-footer></app-footer> 

  </mat-sidenav-content>
  
</mat-sidenav-container>


