<app-home-carousel [items]="carouselItems"></app-home-carousel>

<section class="wrap-home-news container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="isLoadingNews" class="wrap-progress-bar-loading">
        <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
      </div>
      <app-home-news [items]="newsContent"></app-home-news>
    </div>
  </div>
</section>

<section class="wrap-home-events">
  <div *ngIf="isLoadingEvents" class="wrap-progress-bar-loading">
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
  </div>
  <app-home-events *ngIf="!isLoadingEvents" [items]="eventsContent"></app-home-events>
</section>

<section class="wrap-home-instagram">
  <app-home-instagram [items]="instagramContent"></app-home-instagram>
</section>

<section class="wrap-home-googlemaps">
  <app-home-googlemaps></app-home-googlemaps>
</section>