.wrap-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  /* wrap-carousel-navigators */
  .wrap-carousel-navigators {
    .carousel-navigator {
      color: #fff;
      width: 38px;
      height: 37px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      margin-top: -22px;
      z-index: 12;
      transition: color 0.3s;
      .mat-icon {
        width: 42px;
        height: 41px;
      }
    }
    .carousel-navigator:hover {
      color: #990;
    }
    .carousel-navitagor-left {
      left: 0;
      margin-left: 30px;
    }
    .carousel-navigator-right {
      right: 0;
      margin-right: 30px;
    }
  }

  /* wrap-carousel-items */
  .wrap-carousel-items {
    position: relative;
    .carousel-item {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 10;
      .carousel-img {
        width: 100%;
      }
    }
    .carousel-item.active {
      opacity: 1;
      z-index: 11;
    }
    .carousel-item-placeholder {
      position: static;
      visibility: hidden;
      z-index: 9;
    }
  }

  /* wrap-carousel-indicators */
  .wrap-carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .indicator-item {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 1px 3px;
      text-indent: -999px;
      cursor: pointer;
      background: #D8D8D8;
      border: 1px solid #D8D8D8;
      border-radius: 10px;
      transition: background 0.3s;
    }
    .indicator-item:hover {
      background: $colorAccent;
    }
    .indicator-item.active {
      background: $colorAccent;
      border: 1px solid #fff;
      width: 8px;
      height: 8px;
    }

}

@media screen and (max-width: 768px) {
  
  .wrap-carousel {
    /* wrap-carousel-navigators */
    .wrap-carousel-navigators {
      .carousel-navitagor-left {
        margin-left: 10px;
      }
      .carousel-navigator-right {
        margin-right: 15px;
      }
    }
  }

}